{% extends 'base.html.twig' %}

{% block title %}Hello ReferentielController!{% endblock %}

{% block body %}


<div class="container">
    <iframe src="{{ absolute_url(asset('/doc/referentiel/referention-2014.pdf')) }}" width="97%" height="1000" frameborder="0">
</div>
{% endblock %}
