<h3>Contacts</h3>
<div class="row footer-contact">
    <div class="col-md-12"><i class="fa fa-map-marker fa-lg"></i> {{ contact.adresse }}</div>
    <div class="col-md-12"><i class="fa fa-envelope"></i> {{  contact.bp }}</div>
    <div class="col-md-12"><i class="fa fa-phone"></i> {{ contact.phone }}</div>
    <div class="col-md-12"><fa class="fa fa-envelope-o"></fa>
        {{ contact.email }}</div>
</div>