<div class="component-item">

    <label>Securité</label>
    <nav class="nav flex-column">
        <a href="#" class="nav-link">Mes actions</a>
        <a href="#" class="nav-link">Changer mon mot de passe</a>
        <a href="#" class="nav-link">Déconnexion</a>
    </nav>
</div>