<div class="component-item">
    <label>Menu Administration</label>
    <nav class="nav flex-column">
        <a href="{{ path('backend_instance_index') }}" class="nav-link {% if show == 'instance' %}active{% endif %}">Instance</a>
        <a href="{{ path('admin_user_index') }}" class="nav-link {% if show == 'user' %}active{% endif %}">Utilisateur</a>
    </nav>

    <label>Securité</label>
    <nav class="nav flex-column">
        <a href="#" class="nav-link">Mes actions</a>
        <a href="#" class="nav-link">Changer mon mot de passe</a>
        <a href="#" class="nav-link">Déconnexion</a>
    </nav>
</div>
