<div class="component-item">
    <label>Menu Accueil</label>
    <nav class="nav flex-column">
        <a href="#" class="nav-link">Slide</a>
        <a href="#" class="nav-link">Agenda</a>
        <a href="#" class="nav-link">Mission</a>
        <a href="#" class="nav-link active">FAQ</a>
        <a href="#" class="nav-link">Retour d'experiences</a>
    </nav>

    <label>Securité</label>
    <nav class="nav flex-column">
        <a href="#" class="nav-link">Mes actions</a>
        <a href="#" class="nav-link">Changer mon mot de passe</a>
        <a href="#" class="nav-link">Déconnexion</a>
    </nav>
</div>