<div class="component-item">
    <label>Menu Accueil</label>
    <nav class="nav flex-column">
        <a href="{{ path('backend_slider_index') }}" class="nav-link {% if show == 'slider' %}active{% endif %}">Slide</a>
        <a href="{{ path('backend_agenda_index') }}" class="nav-link {% if show == 'agenda' %}active{% endif %}">Agenda</a>
        <a href="{{ path('backend_mission_index') }}" class="nav-link {% if show == 'mission' %}active{% endif %}">Mission</a>
        <a href="{{ path('backend_faq_index') }}" class="nav-link {% if show == 'faq' %}active{% endif %}">FAQ</a>
        <a href="#" class="nav-link">Retour d'experiences</a>
    </nav>

    <label>Securité</label>
    <nav class="nav flex-column">
        <a href="#" class="nav-link">Mes actions</a>
        <a href="#" class="nav-link">Changer mon mot de passe</a>
        <a href="#" class="nav-link">Déconnexion</a>
    </nav>
</div>